#mecha-agent-chat {
    .alert {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 1rem;
        color: #dc2626;
        background-color: color-mix(in srgb, #dc2626 15%, transparent);
        border-radius: var(--radius);
        border: 1px solid #dc2626;
        gap: 1.1rem;

        .message {
            flex: 1;
            font-size: 0.950rem;
            font-weight: 500;
        }

        svg {
            flex-shrink: 0;
            height: 1.2rem;
        }

        button {
            flex-shrink: 0;
            padding: 4px 8px;
            border-radius: var(--radius);
            background-color: #dc2626;
            color: white;
            cursor: pointer;
        }
    }
}