#mecha-agent-chat {
    .chat-box {
        display: flex;
        align-items: flex-start;
        gap: 0.625rem;
    }

    .chat-box-user {
        flex-direction: row-reverse;
        align-self: flex-end;
    }

    .chat-avatar {
        border-radius: 9999px;
        width: 40px;
        height: 40px;
    }

    .chat-content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
    }

    .chat-name {
        font-weight: 600;
    }

    .chat-name-user {
        align-self: flex-end;
    }

    .chat-message {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        line-height: 1.5;
        padding: 0.625rem;
        border-radius: var(--radius);
    }

    @media (min-width: 640px) {
        .chat-message {
            padding: 1rem;
        }
    }

    .chat-message-user {
        border-top-right-radius: 0rem;
        background-color: color-mix(in srgb, var(--primary) 70%, transparent);
    }

    .chat-message-agent {
        border-top-left-radius: 0rem;
        background-color: color-mix(in srgb, var(--primary) 35%, transparent);
    }

    .chat-text {
        font-size: 0.875rem;
        font-weight: 400;
    }

    @media (min-width: 640px) {
        .chat-text {
            font-size: 1rem;
        }
    }

    .user-avatar,
    .agent-fallback-avatar {
        flex-shrink: 0;
        background-color: color-mix(in srgb, var(--primary) 35%, transparent);
        border: 1px solid var(--primary);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .user-avatar {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='currentColor' d='M3.5 14v-.5a4 4 0 0 1 4-4h1a4 4 0 0 1 4 4v.5m-2-9a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0Z' stroke-width='1'/%3E%3C/svg%3E");
    }

    &.dark .user-avatar {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='white' d='M3.5 14v-.5a4 4 0 0 1 4-4h1a4 4 0 0 1 4 4v.5m-2-9a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0Z' stroke-width='1'/%3E%3C/svg%3E");
    }

    .agent-fallback-avatar {
        background-image: url("./agent-avatar.svg");
    }

    &.dark .agent-fallback-avatar {
        background-image: url("./agent-avatar-dark.svg");
    }
}